@page "/shelfpage"
@using global::Shared.Model
@using global::Shared.DTOs
@inject HttpClient Http

<h3 class="text-center mb-5">ShelfPage</h3>


<div class="container-fluid mt-3 ">
    <div class="row">
    <div class="col-sm-6">

        <table class="table ">
            <tr>
                <td class="border-1 text-center fw-bold">
                    <label >Vare nummer</label>
                </td>

            </tr>
            <tr>
                <td><label>Vare nummer</label> </td>
            </tr>
            <tr>
                <td>
                    <label>Vare nummer</label>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-sm-6">
        <table class="table">
            
            <tr class="border-1">
                <th>Shelf ID</th>
                <th>Avalible Capacity</th>
                <th>Input Wished</th>

            </tr>
            
            <tbody>
            @foreach (var item in glqt)
            {

                <tr>
                    <td>@item.ShelfID</td>
                    <td>@item.AvalibleSpace</td>
                    <td><INPUT name="InputWished" type="textfield" placeholder="skriv ønsket mængde"class="border-0"/></td>
                    <td><label></label></td>
                </tr>

            }
            </tbody>
        </table>
    </div>
</div>
</div>
@code {
    private int? ShelfId;
    private int? AvalibleCapacity;
    private int? InputWished;






    private List<AmountOnSpaceDto> glqt = new List<AmountOnSpaceDto>
    {
        new AmountOnSpaceDto(1,2)
        ,
        new AmountOnSpaceDto
        (
             2,
            4
        ),
    new AmountOnSpaceDto
    (
        1,
         2
        )
    };

}